@charset "utf-8";
.sec_inner {max-width: 1400px; width: 100%; margin: 0 auto; padding: 0 20px;}

/* sec_01 */
.sec_01 {height: 100vh; position: relative; overflow: hidden;}
.sec_01::after {display: block; content: ''; width: 63%; height: 35px; position: absolute; left: 0; bottom: 0; background-color: #fff; z-index: 1;}
.sec_01 .sec_inner {display: flex; flex-direction: column; justify-content: center; height: 100%;}
.sec_01 .quick_menu {display: flex; flex-wrap: wrap;}
.sec_01 .quick_menu li {flex:1;}
.sec_01 .quick_menu li a {height: 17rem; padding-left: 2rem; border-left: 3px solid #f26722; padding-bottom: 2rem; display: flex; flex-direction: column; justify-content: space-between;}
.sec_01 .quick_menu li a strong {color: #f26722; font-size: 3rem; font-weight: 700;}
.sec_01 .quick_menu li a p {font-weight: 500; color: #333333;}

.sec_01 .btn_menu {margin-top: 3rem;}
.sec_01 .btn_menu ul {display: flex; flex-wrap: wrap; gap:1rem}
.sec_01 .btn_menu ul li a {display: flex; align-items: center; justify-content: center; text-align: center; width: 16rem; height: 4.5rem; border-radius: 3rem; background-color: #00652e; color: #fff; font-weight: 600;}
.sec_01 .btn_menu ul ~ ul {animation: btnMenu 0.5s forwards; transform-origin: top; position: absolute; right: -7rem; top: 23rem;}
.sec_01 .btn_menu ul ~ ul li a {width: auto;height: 4rem; padding: 0 2.5rem;}

.sec_01 .img.txt_bg {max-width: 653px; width: 100%; position: absolute; right: 0; bottom: 0;}
.sec_01 .img.sec_bg {z-index: -1; animation: bg 5s; position: absolute; left: 0; top: 0; width: 100%; height: 100%;}

.scroll_wrap {max-width: 1400px; width: 100%; margin: 0 auto; padding: 0 20px; position: relative; display: block;}
.sec_01 .scroll{position: absolute; bottom: 35px; left: 0; display: flex; align-items: center;}
.sec_01 .scroll .border{display: block; width:1px; height: 14.5rem; background: #363636;}
.sec_01 .scroll .border::after{content: ""; display: block; width: 1.2rem; height: 1.2rem; background:#ee7800; border-radius: 50%; position: absolute; left: -.6rem; top:10%; animation: dot 1.5s infinite linear}
.sec_01 .scroll .txt{font-size: 1.3rem; font-weight: 700; display: block; transform: rotate(90deg); opacity: .8; color: #363636; margin-left: -2rem;}

.sec_01 .mo_txt {display: none; text-align: center; margin-bottom: 80px;}
.sec_01 .mo_txt h2 {font-size: 38px; color: #333333; font-weight: 800;}
.sec_01 .mo_txt p {font-size: 12px; line-height: 18px; color: #333333; font-weight: 500; margin-top: 15px;}

@keyframes bg {
	0% {
		transform: scale(1.3)
	}
	100% {
		transform: scale(1)
	}
}

@keyframes dot {
	0% {
		opacity: 1;
		top:1%
	}
	50% {
		top: 50%;
		opacity: 1;
	}
	100% {
		opacity: 0.3;
		top:100%;
	}
}

/* sec_02 */
.sec_02 {padding: 17rem 0;}
.sec_02 .sec_inner {display: flex; gap:4rem}
.sec_02 .img {max-width: 840px; width: 100%;}

.sec_02 a {flex: 1;}
.sec_02 a strong {padding-bottom: 2rem; margin-bottom: 2rem; display: block; font-size: 2.6rem; letter-spacing: -1px;font-weight: bold; position: relative;}
.sec_02 a strong::after {display: block; content: ''; width: 4.3rem; height: .3rem; background-color: #000000; position: absolute; left: 0; bottom: 0;}
.sec_02 a h2 {font-size: 6.9rem; font-weight: 700; margin-bottom: 2rem;}
.sec_02 a p {font-size: 1.5rem; line-height: 1.6; margin-bottom: 5rem;}
.sec_02 a span {display: block; font-size: 14px; color: #313137; padding-bottom: 2rem; background: url(../images/main/arr_detail.svg) no-repeat left bottom; background-size: 9.9rem auto;}


/* sec_03 */
.sec_03 {position: relative; padding: 12rem 0 7rem;}
.sec_03 .sec_inner {display: flex; align-items: center; gap:4rem;}
.sec_03 h2 a {font-weight: 700; font-size: 4.8rem; display: flex; align-items: center; gap:2.5rem}
.sec_03 h2 a i {width: 5.2rem; height: 5.2rem; border-radius: .4rem; border: 1px solid rgba(0,0,0,0.26); background: url(../images/main/icon_more.svg) no-repeat center; background-size: 2.2rem;}

.sec_03 .slide_tab {display: flex;}
.sec_03 .slide_tab li ~ li {padding-left: 2.4rem; margin-left: 2rem; position: relative;}
.sec_03 .slide_tab li ~ li::before {content: '/'; display: block; position: absolute; left: 0; top: 0; font-size: 2.5rem; color: #5f5f5f;} 
.sec_03 .slide_tab li.active a {color: #e35b00; }
.sec_03 .slide_tab li a {font-size: 2.5rem; color: #5f5f5f; font-weight: bold;}

.sec_03 .slide_cont {margin-top: 2rem;}
.sec_03 .slide_cont > li {display: none; position: relative; padding-top: 7rem;}
.sec_03 .slide_cont > li.active {display: block;}

.sec_03 .slide_cont .swiper-slide {width: 31rem;}

.sec_03 .swiper_ctr {max-width: 1560px; width: 100%; height: 2.2rem; display: flex; align-items: center; justify-content: space-between; padding: 0 20px; left: 50%; top: 0; position: absolute; transform: translateX(-50%);}
.sec_03 .swiper_ctr .btn_slide_prev {background: url(../images/main/arr_slide.svg) no-repeat; width: 6.8rem; height: 2.2rem; background-size: 100% auto;}
.sec_03 .swiper_ctr .btn_slide_next {background: url(../images/main/arr_slide.svg) no-repeat; width: 6.8rem; height: 2.2rem; background-size: 100% auto;}

.sec_03 .sec_bg {z-index: -1; position: absolute; left: 0; top: 0; width: 100%; height: 100%;}

@media only screen and (min-width: 1025px) {
	@keyframes btnMenu {
		0% {
			transform: rotate(90deg) translateX(150px);
			opacity: 0;
		}
		100% {
			transform: rotate(90deg) translateX(0);opacity: 1;
		}
	}
}
@media only screen and (max-width: 1024px) {
	@keyframes btnMenu {
		0% {
			transform: translateY(150px);opacity: 0;
		}
		100% {
			transform: translateY(0);opacity: 1;
		}
	}
	.sec_01 {height: auto; padding: 15rem 0 25rem;}
	.sec_01::after {width: 55%;}
	.sec_01 .btn_menu ul ~ ul {position: relative; transform: none; right: 0; top: 0;}
	.sec_01 .btn_menu {display: flex; gap:1rem;}
	.sec_01 .btn_menu ul {flex:1;}
	.sec_01 .btn_menu ul li {flex:1;}
	.sec_01 .img.txt_bg {max-width: 400px;}
	.sec_01 .mo_txt {display: block;}


	.sec_02 .sec_inner {flex-direction: column;}
	.sec_02 a {margin-left: auto;}
	.sec_02 a h2 {font-size: 52px;}

	.sec_03 .sec_inner {flex-direction: column;}
	.sec_03 .slide_cont .swiper-slide {width: 230px;}
}
@media only screen and (max-width: 767px) {
	.sec_01 { padding: 10rem 0 15rem;}
	.sec_01 .quick_menu {gap:2rem;}
	.sec_01 .quick_menu li {width: calc(50% - 1rem); flex:none;}
	.sec_01 .btn_menu {justify-content: center;}
	.sec_01 .btn_menu ul {flex:none;}
	.sec_01 .btn_menu ul li {flex:none;}
	.sec_01 .btn_menu ul li a {width: auto; padding: 0 2.5rem; height: 4rem;}
	.sec_01 .scroll {display: none;}

	.sec_01 .mo_txt {margin-bottom: 40px;}
	.sec_01 .mo_txt h2 {font-size: 28px;}
	.sec_01 .mo_txt p {font-size: 10px;}

	.sec_02 {padding: 2rem 0 4rem;}
	.sec_02 a h2 {font-size: 39px;}

	
	.sec_03 .slide_cont .swiper-slide {width: 165px;}
}